    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }

    .game-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        z-index: 10;
        pointer-events: none;
    }

    .game-header .menu {
        position: absolute;
        left: 1rem;
        pointer-events: all;
    }

    .game-header .timer {
        pointer-events: all;
    }

    .game-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 100px;
        min-height: calc(100vh - 100px);
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.4rem;
    }   

    .card {
        position: relative;
        height: 120px;
        width: 120px;
        font-size: 4rem;
        background-color: var(--bg-2);
        transition: rotate 0.3s ease-out;
        transform-style: preserve-3d;

        &.selected {
            border: 4px solid var(--border);
        }

        &.flip {
            rotate: y 180deg;
            pointer-events: none;
        }

        & .back {
            position: absolute;
            inset: 0;
            display: grid;
            place-content: center;
            backface-visibility: hidden;
            rotate: y 180deg;
        }

        & .back img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 6px;
        }

        &.match {
            transition: opacity 0.3s ease-out;
            opacity: 0.4;
        }
    }

    .timer {
        transition: color 0.3s ease;
        font-size: 2.5rem;
        margin: 0;
    }

    .pulse {
        color: tomato;
        animation: pulse 1s infinite ease;
    }

    @keyframes pulse {
        to {
            scale: 1.4;
        }
    }

    .matches {
        display: flex;
        gap: 1rem;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .matches > div {
        width: 80px;
        height: 80px;
        border-radius: 6px;
        overflow: hidden;
        background: var(--bg-2);
        display: inline-block;
        flex: 0 0 auto;
    }

    .matches img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
    }

    .sobre_cont {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        width: 400px;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
        text-align: center;
    }
    .introducao {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    margin: 40px auto;
    border-radius: 15px;
    line-height: 1.6;
    }   